body{
background: linear-gradient(90deg,#ffafbd,#ffc3a0 120%);
}
hr{
  border-style: none;
  border-bottom-style: dotted;
  border-color: #4CA1A3;
  border-width: 5px;
  height: 0px;
  width: 5%;
}
table{
width: 100%;
}
table.table1{
width: 50%;
}
h1,th{
  color: #222831;
}
h3{
  color: #00ADB5;
}
p,li,td{
  color: #393E46;
}
